name: CI-CD Webapp

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      NEXUS_URL: "http://54.81.139.84:8081/repository/maven-releases/"
      GROUP_ID_PATH: "com/example"
      APP_NAME: "puzzle-game-webapp"
      DOCKER_REPO: "saikumar7596/my-repo"
      DEPLOY_HOST: "54.81.139.84"
      DEPLOY_USER: "ubuntu"
      CONTAINER_NAME: "tomcat"

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Show build info
        run: |
          echo "Commit SHA = $GITHUB_SHA"
          mvn -v

      - name: SonarQube Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: |
          mvn -B clean verify sonar:sonar \
            -DskipTests=true \
            -Dsonar.projectKey=${APP_NAME} \
            -Dsonar.host.url=${SONAR_HOST_URL} \
            -Dsonar.login=${SONAR_TOKEN}

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Check SonarQube Quality Gate
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: |
          STATUS=$(curl -s -u "${SONAR_TOKEN}:" \
            "${SONAR_HOST_URL%/}/api/qualitygates/project_status?projectKey=${APP_NAME}" \
            | jq -r '.projectStatus.status')

          echo "Quality Gate: $STATUS"
          test "$STATUS" = "OK"

      - name: Build WAR
        run: mvn -B clean package -DskipTests=false

      - name: Upload WAR to Nexus Releases
        env:
          NEXUS_USER: ${{ secrets.NEXUS_USER }}
          NEXUS_PASS: ${{ secrets.NEXUS_PASS }}
        run: |
          WAR=$(ls target/*.war | head -n 1)
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          ARTIFACT_URL="${NEXUS_URL%/}/${GROUP_ID_PATH
